// @import "~bootstrap";
@import "/node_modules/bootstrap/dist/css/bootstrap-reboot.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
// @import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

// Required
@import "scss/abstracts/functions";
@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";

//Vendors
@import '~include-media/dist/include-media';

//base styles
@import 'scss/base/base';
@import 'scss/base/font';

//Layouts related styles
@import 'scss/layouts/common';
@import 'scss/layouts/header';

//Components styles
@import 'scss/components/nav';

//Pages styles
@import 'scss/pages/home';

@keyframes Hover {
  0% {
    transform: translateY(-24px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-24px);
  }
}
